@model Blog.Models.Etiket

@{
    ViewBag.Title = "EtiketSil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ETİKET SİLME</h2>

<h3>ETİKETİ SİLMEK İSTEDİĞİNİZDEN EMİNMİSİNİZ?</h3>
<div>
    <h4>ETİKET</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="SİL" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Geri Dön", "EtiketListele")
        </div>
    }
</div>
