
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Kategori Ekle", "KategoriEkle", "Kategori")
</p>

<p>
    @Html.ActionLink("Yeni Makale Ekle", "MakaleEkle")
</p>
<p>
    @Html.ActionLink("Yeni Etiket Ekle", "EtiketEkle")
</p>