
@{
    ViewBag.Title = "Iletisim";
}

<h2>BİZE NASIL ULAŞABİLİRSİNİZ?</h2>

<div id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12191.526565622713!2d29.9691337!3d40.1894474!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8152c406c8498209!2sBilecik%20%C5%9Eeyh%20Edebali%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1628766890812!5m2!1str!2str" width="770" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<br /><br /><br />

<h2>İLETİŞİM BİLGİLERİMİZ</h2>

<div class="thin">
    <div class="row text-center services-1">
        <div class="col-sm-offset-1">
            <div class="col-wrapper">
                <div class="icon-wrapper">
                    <div class="icon"><img src="/Content/image/icon-worldmap@2x.png" data-src="/Content/image/icon-worldmap.png" data-ret="/Content/image/icon-worldmap@2x.png" class="retina" alt="" /></div>
                </div>
                <div class="text-wrapper">
                    <i class="icon-location"></i> <i style="font-weight:bold">Adres</i>
                    <p>
                        Bilecik Şeyh Edebali Üniversitesi, Mühendislik Fakültesi,
                        Bilgisayar Mühendisliği Bölümü, Gülümbe Yerleşkesi, C-Blok,
                        Kat 3, 11210 Gülümbe/BİLECİK
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="col-wrapper">
                <div class="icon-wrapper">
                    <div class="icon"><img src="/Content/image/icon-phone2.png" data-src="/Content/image/icon-phone2.png" data-ret="/Content/image/icon-phone@2x.png" class="retina" alt="" /> </div>
                </div>
                <div class="text-wrapper">
                    <i class="icon-phone"></i> <i style="font-weight:bold">Telefon</i>
                    <p>
                        0 228 214 12 42 (Bölüm sekreterliği) <br />
                        0 228 214 12 37 (Bölüm Öğrenci İşleri) <br />
                        0 228 214 11 31 (Lisansüstü Eğitim Enstitüsü) <br />
                        0 228 214 12 22 (Belgegeçer)<br />
                        0 228 214 11 11 (BŞEÜ Santral)
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="col-wrapper">
                <div class="icon-wrapper">
                    <div class="icon"><img src="/Content/image/icon-openmail.png" data-src="/Content/image/icon-openmail.png" data-ret="/Content/image/icon-openmail@2x.png" class="retina" alt="" /> </div>
                </div>
                <div class="text-wrapper">
                    <i class="icon-mail"></i> <i style="font-weight:bold">E-Posta</i>
                    <p>
                        <a class="nocolor" href="mailto:#">bm_bb@bilecik.edu.tr</a> <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>