
<div class="sidebox widget">
    <h3 class="widget-title ">SOSYAL MEDYA HESAPLARIMIZ</h3>
    <p>Üniversitemiz ve bölümümüz hakkında daha fazla ve detaylı bilgi için sosyal medya hesaplarımızı takip edebilirsiniz.</p>
    <ul class="social">
        <li><a href="https://www.instagram.com/bilecikbm/"><i class="icon-s-instagram"></i></a></li>
        <li><a href="https://twitter.com/bseubilgmuh"><i class="icon-s-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/bilecik.bilgmuh.7"><i class="icon-s-facebook"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCgwHzd1y10sgOwtpf1zMckQ/featured"><i class="icon-s-youtube"></i></a></li>
    </ul>
    <div class="clearfix"></div>
</div>

